@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('reset.css');

body {
	background: #F3F7F7;
	font-family: 'Roboto', sans-serif;
}

main {
	margin: 90px 50px 50px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
	background: white;
	padding: 50px;
}

footer {
	background-color: white;
	padding: 25px;
}

footer p {
	color: #738F93;
	text-align: center;
}

button {
	cursor: pointer;
}

/* LOGIN AND SIGNUP PAGE START */

.auth-box {
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	width: 700px;
	margin: 0 auto;
	position: relative;
	display: flex;
	overflow: auto;
	background-image: linear-gradient(to right, #7f8c8d , #2c3e50);
	margin-top: 50px;
}

.auth-box h2 {
	font-size: 20px;
	margin: 20px 0;
	font-weight: bold;
}

.auth-form-container {
	margin: auto;
	width: 50%;
	height: 100%;
	float: left;
	padding: 40px;
	background: white;
}

.auth-form input, .auth-form textarea {
	width: 80%;
	padding: 1rem;
	border-radius: .5rem;
	font-family: sans-serif;
	border: 1.5px solid rgba(14,36,49,.15);
	outline: none;
	margin-bottom: 20px;
}

.btn-auth {
	padding: 10px;	display: inline-block;
	background-color: #0366d6;
	color: white;
	border: 1.5px solid rgba(14,36,49,.15);
	padding: 10px 30px;
	border-radius: 5px;
	font-weight: 600;
	text-decoration: none;
}

.auth-side-container {
	margin: auto;
	width: 50%;
	height: 100%;
	padding: 40px;
	float: right;
	color: white;
}

/* NAV MENU START */
.nav-menu {
	overflow: hidden;
	background-color: #39424E;
	position: fixed;
	top: 0;
	width: 100%;
}

.nav-menu .logo {
	width: 50px;
	float: left;
	margin-left: 50px;
}

.nav-menu a {
	float: left;
	font-family: 'Open sans';
	display: block;
	color: #B7C9CC;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 14px;
	transition: 0.5s;
}

.nav-menu a:hover {
	color: white;
	transition: 0.5s;
}

.search-bar {
	float: left;
	width: 40%;
	padding: 13px;
	margin: 7px 10px;
	border: none;
	font-size: 14px;
	border-radius: 2px;
}

/* NAV MENU END */

/* BOOKS GRID LIST START */

.books-list-container {
	width: 100%;
	padding: 5px;
}

.book {
	overflow: auto;
	width: 30%;
	height: 230px;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 10px;
	float: left;
}

.book img {
	width: 50%;
	max-height: 100%;
	border-radius: 5px 0 0 5px;
	float: left;
}

.book-spec {
	width: 50%;
	float: left;
}

.book-spec p {
	margin: 5px 10px;
	font-size: 14px;
}

.book-spec .book-title {
	margin: 10px;
	font-size: 16px;
	font-weight: bold;
}

.book-spec .far {
	font-size: 10px;
	color: #808F93;
}

.book-action-container {
	margin: 10px;
}

.book-action-container button {
	border-radius: 3px;
	cursor: pointer;
	border: 0;
	font-size: 12px;
	padding: 3px;
}

.page-nav {
	padding: 12px;
}

.page-nav button {
	border: none;
	margin: 1px;
	padding: 10px;
	min-width: 50px;
	border-radius: 5px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	font-weight: bold;
	text-decoration: none;
}

.page-nav .active {
	color: white;
	background-color: #427FE5;
}

.page-nav button:hover {
	transition: 0.5s;
	position: relative;
	color: #427FE5;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
}

.page-nav-limit {
	margin: 10px;
}

.page-nav-limit select {	
	border: none;
	margin: 1px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	text-decoration: none;
}

.search-info {
	margin: 10px;
}

.search-info a {
	transition: 0.5s;
	text-decoration: none;
	font-weight: bold;
	color: blue;
}

.search-info a:hover {
	transition: 0.5s;
	color: black;
}
/* BOOKS GRID LIST END */

/* MODAL BOXES START */

.modal {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #888;
	overflow: auto; /* Enable scroll if needed */
	width: 40%; /* Could be more or less, depending on screen size */
}

.modal-edit .table-form {
	padding: 20px;
	margin: auto;
	width: 70%;
	float: left;
}

.modal-add .table-form {
	padding: 20px;
	margin: auto;
	width: 100%;
}

.table-form th, .table-form td {
	padding: 5px;
	font-size: 14px;
}

.table-form th {
	text-align: right;
}

.table-form td {
	text-align: center;
}

.table-form input {
	width: 90%;
	height: 90%;	
	padding: 8px;
	border-radius: 5px;
	border: 1.5px solid #DBDEE0;
	outline: none;
}

.readonly {
	background-color: #F2F2F2;
	color : #7f8c8d;
}

.modal-edit img {
	float: right;
	height: 100%;
	width: 25%;
}

.btn-submit {
	border: none;
	padding: 10px 15%;
	border-radius: 5px;
	box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
	transition: 0.5s;
	background-color: #427FE5;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.btn-submit:hover {
	transition: 0.5s;
	color: #427FE5;
	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
	background-color: white;
}
/* MODAL BOXES END */

/* LOGOUT DROPDOWN START */
.dropdown {
	position: fixed;
	display: inline-block;
}

.dropdown-content {
	display: none;
	z-index: 1;
}

.dropdown-content a {
	color: #B7C9CC;
	padding: 12px 16px;
	background-color: #39424E;
	text-decoration: none;
	border-radius: 0 0 5px 5px;
}

.dropdown-content a:hover {
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* LOGOUT DROPDOWN END */